@media (max-width: 1200px)
	.container
		max-width: 960px
	.hotel
		&-slider
			width: 600px
	.swiper
		&-slide
			&__image
				height: 100%
				width: 100%
				object-fit: cover
	.card
		width: 230px
		height: 230px
	.grid
		grid-row-gap: 20px
		grid-column-gap: 20px
		&__room
			margin-bottom: 36px
		&-card-1
			&__info
				padding: 30px 21px 25px 32px
			&__title
				margin-bottom: 20px
			&__text
				margin: 0px 0px 30px 0px
	.footer
		&__input
			flex-basis: 100%
@media (max-width: 992px)
	.container, .newsletter-wrapper
		max-width: 700px
	.logo
		width: 132px
	.navbar
		&-top
			padding-top: 30px
			padding-bottom: 30px
		&__search
			margin-left: auto
		&-menu
			padding-top: 22px
			padding-bottom: 22px
			&__link
				font-size: 12px
				line-height: 15px
	.search
		&__input
			width: 340px
	.hotel
		&-slider
			width: 100%
		&-grid
			flex-direction: column
		&__swiper
			margin-bottom: 30px
		&-right
			flex-direction: row
	.booking
		width: 340px
	.map
		width: 340px
	// .swiper
	// 	width: 100%
	.reviews
		&-slider
			&__item
				max-width: 580px
		&__title
			font-size: 30px
			line-height: 38px
			margin: 0px 0px 50px 0px
	.activities
		padding: 60px 0px 70px 0px
		&-wrapper
			flex-wrap: wrap
		&__card
			margin-bottom: 20px
	.card
		width: 340px
		height: 230px
	.packages
		&__title
			font-size: 30px
			line-height: 38px
			margin-bottom: 45px
	.grid
		display: grid
		grid-template-columns: repeat(2, 1fr)
		grid-row-gap: 20px
		grid-column-gap: 20px
		&__rating
			margin-bottom: 6px
		&-card-1
			display: flex
			grid-column-start: 1
			grid-column-end: 3
			grid-row-start: 1
			grid-row-end: 2
		&__info
			padding: 40px 21px 30px 40px
			max-width: 355px
			min-height: 500px
	.footer
		padding: 73px 0px 33px 0px
		&-wrapper
			grid-template-columns: repeat(6, 1fr)
			grid-row-gap: 40px
		&__input
			flex-basis: 49%
		&__logo
			grid-row: 1/2
			grid-column: span 2
		&__social
			&-network
				grid-row: 1/2
				grid-column: span 4
				align-self: center
		&__legal
			grid-column: span 2
		&__categories
			grid-row: 2 / 3
			grid-column: span 2
		&__additional
			grid-column: span 2
		&__contact
			&-details
				grid-column: span 5
				grid-row: 3
			&-form
				grid-column: span 5
				grid-row: 4
	.disclaimer
		&__wrapper
			grid-template-columns: repeat(2, 1fr)
		&__text
			grid-column-start: 1
			grid-column-end: 3
@media (max-width: 768px)
	.container
		max-width: 576px
		width: 92%
	.search
		&__input
			width: 100%
	body
		padding-top: 78px
	.navbar
		&--mobile
			&-fixed
				position: fixed
				left: 0
				top: 0
				right: 0
				z-index: 99
		&__user, &__search
			&--mobile
				&-hidden
					display: none
				&-visible
					display: flex
		&__user
			flex-direction: column
		&-bottom
			display: none
			position: fixed
			left: 0
			right: 0
			bottom: 0
			top: 78px
			padding-top: 30px
			&--visible
				display: block
		&-menu
			flex-direction: column
			&__item
				margin-bottom: 20px
				&--mobile
					&-visible
						display: block
	.user
		&__name
			&--light
				color: $light
				margin: 10px 0px 0px 0px
	.menu
		&-button
			width: 16px
			height: 11px
			padding: 0
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between
			border: none
			cursor: pointer
			background-color: $light
			&__line
				width: 16px
				height: 1px
				background-color: $text-color
	.stars
		flex-basis: auto
	.hotel
		&-name
			flex-basis: 100%
		&-wrapper
			justify-content: space-between
		&-info
			&__name
				width: 100%
			&__text
				width: 100%
			&__rating
				display: none
			&__offer
				order: -1
				margin-left: 0
				margin-top: 0
	// .swiper
	// 	height: 359px
	.hotel
		&-slider
			height: 359px
		&-right
			flex-direction: column
			min-height: 450px
	.booking
		width: 100%
	.map
		width: 100%
	.newsletter
		padding: 60px 0px 66px 0px
		&-wrapper
			max-width: 576px
			width: 92%
			flex-direction: column
			// align-items: start
		&__title
			margin-top: 0
			margin-bottom: 37px
	.reviews
		padding: 40px 0px 60px 0px
		&-slider
			&__item
				padding: 0px 30px 30px 30px
				&:after, &:before
					display: none
			&__button
				top: 32px
				&--prev
					left: 50%
					transform: translate(-50%, 0)
					margin-left: -65px
				&--next
					right: 50%
					margin-right: -65px
					transform: translate(50%, 0)
		&__title
			font-size: 18px
			line-height: 23px
			margin: 0px 0px 42px 0px
	.card
		width: 48%
		height: 225px
	.grid
		&-card-1
			display: flex
			grid-column-start: 1
			grid-column-end: 3
			grid-row-start: 1
			grid-row-end: 2
			&__info
				padding: 30px 20px 30px 25px
	.grid
		&-card
			// max-width: 100%
			height: 100%
			&__info
				padding: 30px 20px 30px 25px
				height: auto
	.footer
		&__input
			flex-basis: 100%
@media (max-width: 576px)
	.logo
		width: 99px
	// .swiper
	// 	height: 250px
	.hotel
		&-slider
			height: 250px
		&__swiper
			margin-bottom: 20px
	.newsletter
		padding: 76px 0px 83px 0px
		&__title
			font-style: normal
			font-weight: 300
			font-size: 20px
			line-height: 25px
			margin-top: 0
			margin-bottom: 37px
		&-title
			&__strong
				font-style: normal
				font-weight: 600
				font-size: 30px
				line-height: 38px
	.subscribe
		width: 100%
	.activities
		padding: 40px 0px 60px 0px
		&__card
			margin-bottom: 20px
		&__title
			font-size: 18px
			line-height: 23px
	.card
		width: 100%
	.packages
		&__title
			font-size: 18px
			line-height: 23px
			margin: 0px 0px 45px 0px
	.grid
		display: grid
		grid-template-columns: repeat(1, 1fr)
		grid-row-gap: 20px
		grid-column-gap: 20px
		&-card-1
			display: flex
			flex-direction: column
			grid-column-start: 1
			grid-column-end: 1
			grid-row-start: 1
			grid-row-end: 1
			&__photo
				width: 100%
				max-height: 250px
				border-radius: 8px 8px 0px 0px
			&__info
				width: 100%
				border-radius: 0px 0px 8px 8px
				max-height: 100%
	.grid
		&-card
			max-width: 100%
			height: 100%
	.footer
		&-wrapper
			grid-template-columns: 1fr
			grid-row-gap: 20px
		&__form
			width: 100%
		&__logo
			grid-row: 1
			grid-column: 1
		&__social
			&-network
				grid-row: 2
				grid-column: 1
		&__additional
			grid-row: 3
			grid-column: 1
		&__categories
			grid-row: 4
			grid-column: 1
		&__legal
			grid-row: 5
			grid-column: 1
		&__contact
			&-details
				grid-row: 6
				grid-column: 1
			&-form
				grid-row: 7
				grid-column: 1
		&__input
			// flex-basis: 92%
			width: 100%
		&__message
			// flex-basis: 92%
			width: 100%
		&__info
			flex-basis: 100%
			margin-top: 12px
		&__item
			font-size: 12px
		&__title
			font-size: 14px
		&__button
			width: 100%
	.disclaimer
		&__wrapper
			grid-template-columns: 1fr
			grid-row-gap: 20px
		&__text
			grid-column: 1
			grid-row: 1
		&__image
			grid-column: 1
			grid-row: 2
