@media (max-width: 1200px)
	.container
		max-width: 960px
	.swiper
		width: 600px
		&-slide
			&__image
				height: 100%
				width: 100%
				object-fit: cover
@media (max-width: 992px)
	.container
		max-width: 700px
	.logo
		width: 132px
	.navbar
		&-top
			padding-top: 30px
			padding-bottom: 30px
		&__search
			margin-left: auto
		&-menu
			padding-top: 22px
			padding-bottom: 22px
			&__link
				font-size: 12px
				line-height: 15px
	.search
		&__input
			width: 340px
	.hotel
		&-grid
			flex-direction: column
		&__swiper
			margin-bottom: 30px
		&-right
			flex-direction: row
	.booking
		width: 340px
	.map
		width: 340px
	.swiper
		width: 100%
@media (max-width: 768px)
	.container
		max-width: 576px
		width: 92%
	.navbar
		&__search, &__user, &-menu
			display: none
	.menu
		&-button
			width: 16px
			height: 11px
			padding: 0
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between
			border: none
			cursor: pointer
			background-color: $light
			&__line
				width: 16px
				height: 1px
				background-color: $text-color
	.stars
		flex-basis: auto
	.hotel
		&-name
			flex-basis: 100%
		&-wrapper
			justify-content: space-between
		&-info
			&__name
				width: 100%
			&__text
				width: 100%
			&__rating
				display: none
			&__offer
				order: -1
				margin-left: 0
				margin-top: 0
	.swiper
		height: 359px
	.hotel
		&-right
			flex-direction: column
			min-height: 450px
	.booking
		width: 100%
	.map
		width: 100%
@media (max-width: 576px)
	.logo
		width: 99px
	.swiper
		height: 250px
	.hotel
		&__swiper
			margin-bottom: 20px
